<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.uclouvain.lsinf1225.groupel31.wishlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Views.AddFriend"></activity>
        <activity android:name=".Views.FriendsList" />
        <activity android:name=".Views.ProfileActivity" />
        <activity android:name=".Views.WishActivity" />
        <activity android:name=".Views.NewWish" />
        <activity android:name=".Views.NewWishList" />
        <activity android:name=".Views.Base" />
        <activity android:name=".Views.SignUp" />
        <activity android:name=".Views.SignIn" />
        <activity android:name=".Views.LogInUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>